body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #ff6600;
    text-align: center;
}

h2 {
    color: #873600fd;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f9731a;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.message {
    color: red;
    font-weight: bold;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.filters form {
    display: inline;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #e65c00;
}
