<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacker News Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Scraped Data from Hacker News</h1>
        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}

    <div class="filters">
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit">No filters</button>
        </form>
        <form action="{{ url_for('index') }}" method="get">
            <input type="hidden" name="filter" value="long">
            <button type="submit">Titles with more than 5 Words</button>
        </form>
        <form action="{{ url_for('index') }}" method="get">
            <input type="hidden" name="filter" value="short">
            <button type="submit">Titles less than or equal to 5 words</button>
        </form>
        
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search titles..." onkeyup="filterTable()">
    </div>



    {% if entries %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Score</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.rank }}</td>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.score }}</td>
                        <td>{{ entry.comments }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not show_all and entries|length < total_entries %}
        <div class="show-all">
                <form action="{{ url_for('index') }}" method="get">
                    {% if request.args.get('filter') %}
                        <input type="hidden" name="filter" value="{{ request.args.get('filter') }}">
                    {% endif %}
                    <input type="hidden" name="show_all" value="true">
                    <button type="submit">Show All Entries ({{ total_entries }})</button>
                </form>
            </div>
        {% endif %}


    {% else %}
        <p>No entries found.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='filter.js') }}"></script>

</body>
</html>
