<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacker News Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Scraped Data from Hacker News</h1>
        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}

    <div class="filters">
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit">Show All</button>
        </form>
        <form action="{{ url_for('index') }}" method="get">
            <input type="hidden" name="filter" value="long">
            <button type="submit">Titles with more than 5 Words</button>
        </form>
        <form action="{{ url_for('index') }}" method="get">
            <input type="hidden" name="filter" value="short">
            <button type="submit">Titles less than or equal to 5 words</button>
        </form>
        
    </div>

    {% if entries %}
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Score</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.rank }}</td>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.score }}</td>
                        <td>{{ entry.comments }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No entries found.</p>
    {% endif %}
</body>
</html>
